
<section>
    <h2>Kittens to adopt</h2>
    <ul class="card-container">
        <li *ngFor="let kitten of kittenList; let index = index">
            <app-kitten-card
            [kitten]="kitten"></app-kitten-card> 
            <button (click)="sendAndRemoveKitten(index, $event)">Adopter ❤️</button>
            <div *ngIf="position != undefined">
            <app-heart 
                *ngFor="let i in 10, let index = index" 
                [startPosition] = "position"></app-heart>
            </div>
        </li>
    </ul>
</section>