
<section>
    <h2 class="neonText">Kittens to adopt</h2>
    <div *ngIf="tick != 0">
        <div *ngFor="let wave of arrayForWavesGeneration, let waveIndex = index">
            <app-heart 
                *ngFor="let i of arrayForHeartGeneration, let heartIndex = index"
                [index]="heartIndex"
                [tick]="tick"
                [clickPosition]="position"
                [initialTick]="counter / 4 * waveIndex"
                ></app-heart>

        </div>
    </div>
    <ul class="card-container">
        <li *ngFor="let kitten of kittenList; let index = index">
            <app-kitten-card
            [kitten]="kitten"></app-kitten-card> 
            <button (click)="sendAndRemoveKitten(index, $event)">Adopter ❤️</button>
        </li>
    </ul>
</section>