.card {
    width: fit-content;
    padding: 0;
    border: 1px solid gray;

    &> :not(img) {
        margin-left: 1rem;
    }

    .name-firstname {
        font-size: 1.5rem;
        font-weight: 600;
    }

}